body {
    background-color: black;
}

.btn {
    border-radius: 25px;
}


hr {
    border: 1.2px solid lightgray;
}

textarea {
    border-width: 2px;
    border-style: dashed;
    color: lightgrey ;
}

#copy {
    background-color: gray;
    color: white;
}